<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!-- Poppins Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600&display=swap"
      rel="stylesheet"
    />
    <title>Something Borrowed</title>
  </head>
  <body>
    <header>
      <h1>Something Borrowed</h1>
      <nav class="navbar">
        <ul>
          <li class="nav-btn">Explore</li>
          <li class="nav-btn">Favorites</li>
          <li class="nav-btn">My Listings</li>
          <li class="nav-btn">Pending Requests</li>
          <li class="nav-btn" id="logout-btn">Logout</li>
        </ul>
      </nav>
    </header>
    <main>
      <div id="search-section">
        <input type="text" default="search for item" />
        <button id="search-btn" class="primary-btn">S</button>
      </div>
      <div class="categories">
        <p>Filter by category:</p>
        <a class="category-btn" href="">Camping</a>
        <a class="category-btn" href="">Household</a>
        <a class="category-btn" href="">Yard</a>
        <a class="category-btn" href="">Kitchen</a>
      </div>
      <div class="listings">
        <!-- {{#each items as |item|}} -->
        <article class="item-card">
          <div class="card-image">
            <img
              src="https://images.unsplash.com/photo-1550957886-ac45931e5779?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1074&q=80"
              alt="{{title}}"
            />
          </div>
          <div class="card-details">
            <h2>4-Person Camping Tent</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas
              et risus vitae purus cursus tempor. Vivamus accumsan maximus
              massa, at pretium nibh dapibus nec. Integer sed tincidunt urna. In
              morbi.
            </p>
          </div>
        </article>
        <!-- {{/each}} -->
      </div>
    </main>
  </body>
</html>
<!-- Add javascript file for logout button -->
<script src=""></script>
