<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/css/style.css" >
  <title>Something Borrowed</title>
</head>
<body>
<nav class="navbar">
  <ul>
    <li class="nav-button">Explore</li>
    <li class="nav-button">Favorites</li>
    <li class="nav-button">My Listings</li>
    <li class="nav-button">Pending Requests</li>
    <li class="nav-button">Logout</li>
  </ul>
</nav>
<main>
  {{{body}}}
</main>


</body>
</html>