<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Something Borrowed</title>
  </head>
  <body>
    {{#if loggedIn }}
    <nav class="navbar">
      <ul>
        <li class="nav-btn">Explore</li>
        <li class="nav-btn">Favorites</li>
        <li class="nav-btn">My Listings</li>
        <li class="nav-btn">Pending Requests</li>
        <li class="nav-btn" id="logout-btn">Logout</li>
      </ul>
    </nav>
    {{ else }}

      <nav class="navbar">
      <ul>
        {{! Make route for "/" in home-routes.js to show feed to logged out user }}
        <li class="nav-button">Explore</li>
        <li class="nav-button">Log Out</li>
      </ul>
    </nav>
    {{/if}}
    <main>
      {{{body}}}
    </main>
</body>

  </body>
</html>