<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Something Borrowed</title>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        {{! Make route for "/" in home-routes.js to show feed to logged out user }}
        <li class="nav-button">Explore</li>
        <li class="nav-button">Login</li>
      </ul>
    </nav>
    <main>
      {{{body}}}
    </main>
</body>

  </body>
</html>