<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>Something Borrowed</title>
  </head>
  <body>
    <div>
      <h1>Something Borrowed</h1>
    </div>
    {{#if loggedIn }}
    <nav class="navbar">
      <ul>
        <li class="nav-btn"><a href="/">Explore</a></li>
        <li class="nav-btn"><a href="/favorites">Favorites</a></li>
        {{!-- dynamically pull in the user's id for these two url? --}}
        <li class="nav-btn"><a href="/my-listings">My Listings</a></li>
        <li class="nav-btn"><a href="/pending">Pending Requests</a></li>
        <li class="nav-btn"><a href="/create">Create Listing</a></li>
        <li class="nav-btn"><a href="/">Logout</a></li>
      </ul>
    </nav>
    {{ else }}

      <nav class="navbar">
      <ul>
        <li class="nav-btn"><a href="/">Explore</a></li>
        <li class="nav-btn"><a href="/favorites">Favorites</a></li>
        {{!-- dynamically pull in the user's id for these two url? --}}
        <li class="nav-btn"><a href="/my-listings">My Listings</a></li>
        <li class="nav-btn"><a href="/pending">Pending Requests</a></li>
        <li class="nav-btn"><a href="/create">Create Listing</a></li>
        <li class="nav-btn"><a href="/login">Log In</a></li>
      </ul>
    </nav>
    {{/if}}
    <main>
      {{{body}}}
    </main>

    <script src="/js/logout.js"></script>
</body>


  </body>

</html>

