<div class="listing card">
  <div class="card-header">
    <h2>Edit Listing</h2>
  </div>
  <form id="edit-listing-form" class="card-body">
    <input type="hidden" name="item-id" value="{{item.id}}" />
    <label class="form-label" for="post-title">Title</label>
    <input
      type="text"
      name="item-title"
      value="{{item.title}}"
      class="form-input"
    />
    <label class="form-label" for="item-body">Description</label>
    <textarea name="item-body" class="form-input">{{item.body}}</textarea>
    <button type="submit" class="button">Update</button>
    <button type="button" id="delete-button" class="button">Delete</button>
  </form>
</div>