<div class="row">
  <div class="login-card">
    <p>Already a user?</p>
    <h2>Login</h2>
    <form>
      <div>
        <label for="login-email">Email:</label>
        <input type="text" id="login-email" />
      </div>
      <div>
        <label for="login-password">Password:</label>
        <input class="form-input" type="password" id="login-password" />
      </div>
      <div>
        <button class="button-primary" type="submit">login</button>
      </div>
      <div>
        Don't have an account?
        <button class="button-secondary">Create Account</button>
      </div>
    </form>
  </div>
</div>