<div class="form-container">
  <div class="login-card">
    <h2>Login</h2>
    <form id="login-form">
      <div class="input-section">
        <label for="login-email">Email:</label>
        <input type="text" id="login-email" />
      </div>
      <div class="input-section">
        <label for="login-password">Password:</label>
        <input class="form-input" type="password" id="login-password" />
      </div>
      <div class="input-section">
        <button
          id="login-btn"
          class="btn primary-btn"
          type="submit"
        >Login</button>
      </div>

      <div>
        Don't have an account?
        <a href="/signup" class="orange-link">Create Account</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>