<div class="row">
  <div class="login-card">
    <p>Already a user?</p>
    <h2>Login</h2>
    <form id="login-form">
      {{! <div>
        <label for="login-name">First Name:</label>
        <input type="text" id="login-name" />
      </div>
      <div>
        <label for="login-location">Location:</label>
        <input class="form-input" type="text" id="login-location" />
      </div> }}
      <div class="input-section">
        <label for="login-email">Email:</label>
        <input type="text" id="login-email" />
      </div>
      <div class="input-section">
        <label for="login-password">Password:</label>
        <input class="form-input" type="password" id="login-password" />
      </div>
      <div class="input-section">
        <button
          id="login-btn"
          class="btn primary-btn"
          type="submit"
        >Login</button>
      </div>

      <div>
        Don't have an account?
        <a href="/signup" id="signup-btn" class="btn secondary-btn">Create
          Account</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>