<div class="page-container">
  <div class="login-card">
    <h2>Create An Account</h2>
    <form id="signup-form">
      <div class="input-section">
        <label for="signup-email">Email:</label>
        <input type="text" id="signup-email" placeholder="example@site.com" />
      </div>
      <div class="input-section">
        <label for="signup-password">Choose a password:</label>
        <input
          class="form-input"
          type="password"
          id="signup-password"
          placeholder="must be at least 8 characters"
        />
      </div>
      <div class="input-section">
        <label for="signup-name">First name:</label>
        <input type="text" id="signup-name" placeholder="enter name" />
      </div>
      <div class="input-section">
        <label for="signup-location">Location:</label>
        <input type="text" id="signup-location" placeholder="zip code" />
      </div>
      <div class="input-section">
        <button class="btn primary-btn" id="submitBtn" type="submit">Create
          Account</button>
      </div>
    </form>
    <div>
      Already have an account?
      <a href="/login" class="txt-link">Login Instead</a>
    </div>
  </div>
</div>

<script src="/js/signup.js"></script>