<div class="row">
  <div class="login-card">
    <h2>Create An Account</h2>
    <form>
      <div>
        <label for="signup-email">Email:</label>
        <input type="text" id="signup-email" placeholder="example@site.com" />
      </div>
      <div>
        <label for="signup-password">Choose a password:</label>
        <input
          class="form-input"
          type="password"
          id="signup-password"
          placeholder="Must be at least 8 characters"
        />
      </div>
      <div>
        <label for="signup-name">First name:</label>
        <input type="text" id="signup-name" placeholder="Enter name" />
      </div>
      <div>
        <label for="signup-location">City:</label>
        <input type="text" id="signup-location" placeholder="Zip Code" />
      </div>
      <div>
        <button id="submitBtn" type="submit">create account</button>
      </div>
    </form>
  </div>
</div>

<script src="/js/signup.js"></script>