<div id="singleListingContainer">
  <div id="singleListingImgContainer">
    <img src="{{image}}" alt="{{title}}" />
  </div>
  <div id="listingInfoCard"></div>
  <div id="listerInfoContainer">
    <ul>
      {{! Add link to save button }}
      <li><a href="" id="save-btn">SAVE</a></li>
      <li><a href="" id="contact-btn">Contact Lender</a></li>
    </ul>

  </div>
</div>