:root {
  --primary: #265552;
  --primary-drk: #204845;
  --secondary: #d8652d;
  --sage: #98afae;
  --grey: #eaeceb;
  --cream: #f4f6f6;
  --dark: #38302e;
  --border-radius: 25px;
  --border-radius-button: 20px;
  --webkit-box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
  --moz-box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
  --box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
}

body {
  background-color: var(--cream);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--dark);
  line-height: 1.5em;
}

main {
  background-color: #dfe4e4;
  border-radius: 35px 35px 0 0;
}

.page-container {
  padding: 8%;
}

/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 1.5em;
}

h1 {
  color: var(--primary);
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  color: var(--primary);
}

.bolded {
  font-weight: bold;
  line-height: 1.8em;
}

/* Header & Navigation */
header {
  display: flex;
  justify-content: space-between;
  padding: 40px;
}

.navbar {
  width: 90%;
  padding: 5%;
}

nav ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav a {
  background-color: var(--cream);
  color: var(--primary);
  font-size: 16px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--grey);
}

nav a:hover {
  color: var(--secondary);
  border-bottom: 1px solid #d7d5d5;
}

/* Footer */
footer {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  color: var(--sage);
  background-color: var(--primary-drk);
}

/* Buttons & Links*/
a {
  color: var(--primary);
}

a:hover {
  color: var(--primary-drk);
}

a.btn {
  text-align: center;
}

.btn {
  margin: 20px 10px 20px 0;
  padding: 0 20px;
  height: 40px;
  border-radius: var(--border-radius-button);
  display: flex;
  justify-content: center;
  align-items: center;
}

.extra-btns {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  width: 100%;
}

.primary-btn {
  color: var(--cream);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.primary-btn:hover {
  color: var(--cream);
  background-color: var(--primary-drk);
}

.secondary-btn {
  color: var(--primary);
  background-color: var(--grey);
  outline: 1px solid var(--primary);
}

.secondary-btn:hover {
  color: var(--primary);
  background-color: var(--cream);
  outline: 1px solid var(--primary);
}

.disabled-btn {
  color: #929195;
  background-color: var(--grey);
  outline: 1px solid #929195;
}

.orange-out-btn {
  color: var(--secondary);
  background-color: var(--cream);
  outline: 1px solid var(--secondary);
}

.orange-out-btn:hover {
  background-color: var(--grey);
  outline: 1px solid var(--secondary);
}

.orange-btn {
  color: var(--cream);
  background-color: var(--secondary);
  outline: 1px solid var(--secondary);
}

.orange-btn:hover {
  color: var(--cream);
  background-color: #bb5826;
  outline: 1px solid var(--secondary);
}

.edit-del-btns {
  display: flex;
  flex-wrap: wrap;
}

.txt-link {
  color: var(--primary);
  padding-bottom: 3px;
  border-bottom: 1px solid var(--grey);
}
.txt-link:hover {
  color: var(--secondary);
  border-bottom: 1px solid #d7d5d5;
}

.cloudinary-button {
  margin-top: 5px;
}

/* Forms - input and textarea */
input {
  border: 1px solid #d7d5d5;
  border-radius: var(--border-radius);
  padding: 20px;
  height: 40px;
  width: 100%;
  margin-top: 5px;
}

.input-section {
  padding-bottom: 10px;
}

textarea {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: var(--secondary);
  outline: none;
}

.form-input {
  border: 1px solid #d7d5d5;
  min-height: 40px;
}

.container-shadow {
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
  box-shadow: var(--box-shadow);
}

select {
  color: var(--primary-drk);
  background-color: var(--grey);
  border-radius: var(--border-radius);
  margin-left: 10px;
  padding: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml,<svg height='10px' width='10px' viewBox='0 0 16 16' fill='%23000000' xmlns='http://www.w3.org/2000/svg'><path d='M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'/></svg>")
    no-repeat;
  background-position: calc(100% - 0.4rem) center;
}

/* Search bar section - not showing currently */
/* #search-section {
  margin: 5px;
  max-width: 500px;
}

#search-section input {
  width: 80%;
  height: 40px;
  padding: 10px;
  color: var(--dark);
  background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
  padding-left: 30px;
  border-radius: 50px;
} */

/* Category Buttons on Home page */
.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.category-list a {
  margin-bottom: 10px;
}

.filter-text {
  margin-bottom: 10px;
}

.category-btn {
  padding: 5px 10px;
  margin-right: 10px;
  color: var(--primary);
  background-color: var(--cream);
  outline: 1px solid #d7d5d5;
  border-radius: var(--border-radius);
  -webkit-box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
  box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
}

.category-btn:hover {
  color: var(--primary-drk);
  background-color: #ffffff;
}

/* Item listing card */
.listings-grid {
  min-height: 100vh;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item-card {
  display: flex;
  margin-bottom: 40px;
}

.card-image {
  z-index: 0;
  width: 50%;
  /* margin: 10px; */
  border-radius: var(--border-radius);
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-details {
  width: 60%;
  padding: 20px 20px 20px 80px;
  margin: 20px 20px 20px -50px;
  background-color: var(--cream);
  border-radius: var(--border-radius);
}

.card-desc {
  font-size: 18px;
  padding-bottom: 20px;
}

@media only screen and (min-width: 1000px) {
  .item-card {
    width: 50%;
  }
}

/* Badges & Warnings */
.badge {
  width: 100px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  text-align: center;
}

.available-badge {
  color: var(--cream);
  background-color: var(--primary);
  border-radius: var(--border-radius-button);
}

.unavailable-badge {
  color: var(--sage);
  background-color: var(--cream);
  outline: 1px solid var(--sage);
  border-radius: var(--border-radius-button);
}

/* Single Listing Page */
#single-listing-pg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.listing-hero {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 0;
}
.listing-hero img {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.listing-details {
  position: relative;
  width: 75%;
  padding: 40px;
  margin: 20px auto; /* Adjusts margin to center vertically */
  z-index: 1;
  padding: 40px;
  margin-top: -50px;
  background-color: var(--cream);
  border-radius: var(--border-radius);
}

.listing-details p {
  margin-bottom: 15px;
}

#listing-links {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 40px 0 40px;
}

.warning-text {
  margin-top: 20px;
  width: 100%;
}
