:root {
  --primary: #265552;
  --primary-drk: #204845;
  --secondary: #d8652d;
  --sage: #98afae;
  --grey: #eaeceb;
  --cream: #f4f6f6;
  --dark: #38302e;
  --border-radius: 25px;
  --border-radius-button: 20px;
  --webkit-box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
  --moz-box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
  --box-shadow: 4px 23px 37px 0px rgba(0, 0, 0, 0.11);
}

body {
  background-color: var(--cream);
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  color: var(--dark);
  line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  padding-bottom: 10px;
  line-height: 1.5em;
}

h1 {
  color: var(--primary);
  padding-top: 20px;
  text-align: center;
}

.navbar {
  width: 90%;
  padding: 5%;
}

nav ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

nav a {
  background-color: unset;
  color: var(--dark);
}

nav a:hover {
  color: var(--primary);
}

main {
  background-color: var(--grey);
  /* padding: 3%; */
  border-radius: 35px 35px 0 0;
}

.page-container {
  padding: 3%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  /* align-items: center; */
}

.pad-top {
  padding-top: 40px;
}

/* Links & Buttons */
a {
  color: var(--primary);
}

a:hover {
  color: var(--secondary);
}

a.btn {
  text-align: center;
}

.bolded {
  font-weight: bold;
}

/* Buttons & Links */
.btn {
  /* padding: 15px; */
  margin: 20px 10px 0 0;
  padding: 10px;
  min-width: 100px;
  width: fit-content;
  border-radius: var(--border-radius-button);
  border: none;
}

.primary-btn {
  color: var(--cream);
  background-color: var(--primary);
  border: 1px solid var(--primary);
}

.primary-btn:hover {
  color: var(--cream);
  background-color: var(--primary-drk);
}

.secondary-btn {
  color: var(--primary);
  background-color: var(--grey);
  outline: 1px solid var(--primary);
}

.secondary-btn:hover {
  color: var(--primary);
  background-color: var(--cream);
  outline: 1px solid var(--primary);
}

.disabled-btn {
  color: #929195;
  background-color: var(--grey);
  outline: 1px solid #929195;
}

.orange-out-btn {
  color: var(--secondary);
  background-color: var(--cream);
  outline: 1px solid var(--secondary);
}

.orange-out-btn:hover {
  background-color: var(--grey);
  outline: 1px solid var(--secondary);
}

.orange-btn {
  color: var(--cream);
  background-color: var(--secondary);
  outline: 1px solid var(--secondary);
}

.orange-btn:hover {
  color: var(--cream);
  background-color: #bb5826;
  outline: 1px solid var(--secondary);
}

.edit-del-btns {
  display: flex;
  flex-wrap: wrap;
}

.orange-link {
  color: var(--sage);
}
.orange-link:hover {
  color: var(--secondary);
}
/* Forms - input and textarea */
input {
  border: 2px solid #98afae;
  border-radius: var(--border-radius);
  padding: 20px;
  height: 40px;
  width: 100%;
}

textarea {
  width: 100%;
  padding: 20px;
  border-radius: 25px;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: var(--secondary);
  outline: none;
}

.input-section {
  margin-bottom: 15px;
}

form {
  max-width: 400px;
}

.input-section label {
  padding-bottom: 10px;
}

.form-label {
  font-size: 14px;
  margin: 5px 0;
}

.form-input {
  border: 2px solid #98afae;
  margin: 10px 0;
  min-height: 40px;
}

.container-shadow {
  -webkit-box-shadow: var(--webkit-box-shadow);
  -moz-box-shadow: var(--moz-box-shadow);
  box-shadow: var(--box-shadow);
}

#search-section {
  margin: 5px;
  max-width: 500px;
}

#search-section input {
  width: 80%;
  height: 40px;
  padding: 10px;
  color: var(--dark);
  background: url(images/comment-author.gif) no-repeat scroll 7px 7px;
  padding-left: 30px;
  border-radius: 50px;
}

/* Category Buttons on Home page */
.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.category-list a {
  margin-bottom: 10px;
}

.filter-text {
  margin-bottom: 10px;
}

.category-btn {
  padding: 5px 10px;
  margin-right: 5px;
  color: var(--primary);
  background-color: var(--cream);
  outline: 1px solid var(--cream);
  border-radius: var(--border-radius);
  -webkit-box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
  -moz-box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
  box-shadow: 4px 23px 37px -11px rgba(0, 0, 0, 0.11);
}

.category-btn:hover {
  color: var(--cream);
  background-color: var(--primary);
}

/* Item listing card */
.listings-grid {
  padding: 3%;
  min-height: 100vh;
}

.item-card {
  display: flex;
  /* padding: 5px; */
}

.card-image {
  z-index: 0;
  width: 50%;
  margin: 5px;
  border-radius: var(--border-radius);
}

.card-image img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.card-details {
  width: 60%;
  padding: 20px 20px 20px 80px;
  margin: 20px 0 20px -50px;
  background-color: var(--cream);
  border-radius: var(--border-radius);
}

/* Badges & Warnings */
.badge {
  width: 100px;
  padding: 5px 10px;
  margin: 0 0 10px 0;
  text-align: center;
}

.available-badge {
  color: var(--cream);
  background-color: var(--sage);
  border-radius: var(--border-radius-button);
}

.unavailable-badge {
  color: var(--sage);
  background-color: var(--cream);
  outline: 1px solid var(--sage);
  border-radius: var(--border-radius-button);
}

.warning-text {
  color: var(--secondary);
}

/* Single Listing Page */
#single-listing-pg {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}

.listing-hero {
  position: relative;
  width: 100%;
  top: 0;
  z-index: 0;
}
.listing-hero img {
  width: 100%;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.listing-details {
  position: relative;
  width: 75%;
  padding: 40px;
  margin: 20px auto; /* Adjusts margin to center vertically */
  z-index: 1;
  padding: 40px;
  margin-top: -50px;
  background-color: var(--cream);
  border-radius: var(--border-radius);
}

.listing-details p {
  margin-bottom: 15px;
}

#listing-links .btn {
  padding: 20px 40px;
}
